.navbar {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 2;
    background-color: #c9f9ff;

}
.ul_navbar {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.li_navbar{
    list-style-type: none;
    height: 100%;
    width: 95%;
    text-align: center;
}
.li_navbar a, .ul_navbar > li{
    color: black;
    text-decoration: none;
    display: flex;
    height: 100%;
    width: 95%;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}
.li_navbar a:hover {
    color: green;
    transition: 0.5s ease-in-out;
    background: #90d7ff;
    box-shadow: 10px 10px 20px lightblue;
}
.totaux {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
form {
    margin: auto;
}
form > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.form_row, .form_btn {
    margin: 5px;
}
.btn {
    padding: 5px 10px;
}
.input {
    width: 200px;
    height: 30px;
}
.all {
    display: block;
    margin: auto;
    padding: 15px 30px;
    border: 1px solid gray;
    width: fit-content;
    background-color: #e3e3ec;
    border-radius: 5px;
}
.all{
    color: black;
    text-decoration: none;
}
.all:hover {
    background-color: #d0d0d7;
}

.tableaux_container {
    display: flex;
    justify-content: space-around;
}
caption {
    font-size: 30px;
}
.row_negative{
    color: red;
}
.row_positive{
    color: green;
}
tbody + tr{
    background-color: blue;
}
.tbody_table:nth-child(odd) {
    background-color: lightblue;
}
.tbody_table:nth-child(even) {
    background-color: lightcyan;
}
.tbody_table2:nth-child(odd) {
    background-color: lightyellow;
}
.tbody_table2:nth-child(even) {
    background-color: lightpink;
}
td, th {
    border: 1px solid black;
    padding : 5px;
    border-radius: 5px;
}